.jumbotron {
    background-image: url("../pictures/pizza.png");
}
.welcomepizza {
    text-align:center;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color:white;
    margin:0;
    padding:0;
}