body, html {

    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    padding:10px;
    margin:10px;
    border-radius:5px;
    border:1px solid lightgray;
}
 .message-info {
     background-color: #CDDEFF;
     color:darkblue;
}
.message-success {
    background-color:#CFF3DA;
    color:darkgreen;
}
.message-warning{
    background-color:#FCFBC9;
    color:goldenrod;
}
.message-error {
    background-color:#FAD3D7;
    color:darkred;
}